h1 {
	font-family: Helvetica, sans-serif;
	text-align: center;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
}

.gallery__item {
	flex: 0 0 calc(33.333% - 10px);
	margin: 5px;
}

.gallery__link {
	display: block;
}

.gallery__image {
	width: 100%;
	transition: transform 0.2 ease-in-out;
	height: 300px;
	object-fit: cover;
	cursor: pointer;
}

.gallery__image:hover {
	transform: scale(1.1);
}

.lightbox {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 100;
}

.lightbox__image {
	max-width: 800px;
	object-fit: cover;
}

.lightbox__close {
	position: absolute;
	top: 1rem;
	right: 2rem;
	font-size: 2rem;
	color: #fff;
	border: 1px solid #fff;
	padding: 0.1rem 0.3rem;
	text-decoration: none;
	cursor: pointer;
	transition: 0.5s;
}

.lightbox__close:hover {
	background-color: #fff;
	color: #000;
}
